.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
*.Rproj
*.bed
*.png
*.xls
*.txt
*.counts
*.counts.v2
*.csv
*.pdf
*.peaks
*.narrowPeak
*.tsv
!LITAF_neighboring_gene_signif.csv
input_files/*
scripts/peaks/bidirectional/pairs/*